# Variables d'environnement générales
ACCESS_TOKEN=your_whatsapp_access_token
PHONE_NUMBER_ID=your_whatsapp_phone_number_id
VERIFY_TOKEN=your_webhook_verify_token

# Fichier de credentials par défaut
CREDENTIALS_FILE=whatsappbotleads-15ea5fa67a1e.json
CREDENTIALS_FILE_CALENDAR=whatsappbotleads-5eef4888f75c.json

# Fichiers de credentials spécifiques aux garages
# Format: CREDENTIALS_FILE_CALENDAR_GARAGEID
CREDENTIALS_FILE_CALENDAR_GARAGE1=credentials/garage1_credentials.json
CREDENTIALS_FILE_CALENDAR_GARAGE2=credentials/garage2_credentials.json

# Autres paramètres
TEST_MODE=False
TIMEZONE=Africa/Casablanca
